.top{
    width: 100%;
    height: 50px;
    background-color: aqua;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans',sans-serif;
}
.topRight,.topLeft{
    flex: 3;
    background-color: tomato;
}

.topCenter{
    flex: 6;
    background-color: gray;

}
